body {
    font-family: sans-serif;
}
#Ian a{
    font-family: 'Wire One', sans-serif;
	font-size:26px;
	color:darkcyan;
	padding:5px;
	text-decoration:none;
}
#Ian a:hover{
	background-color:lightgrey;
}
