    body{
        margin: 0 auto !important;
        float: none !important;
    }

    #headerBar {
        height: 52px;
        background: #E82E21;
    }
    #headerBar div {
        max-width: 75%;
        margin: auto;
        padding-top: 10px;
    }
    
    .content-container {
        max-width: 75%;
        margin: 0 auto !important;
        float: none !important;
    }

    h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 32px;
        color: #E82E21;
    }
    
    a {
        color: inherit;
        text-decoration: inherit;
    }
    
    /*---- TITLE ---- */
    .title {
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 5px solid #000000;
        padding-bottom: 0px;
        color: #000000;
        margin-bottom: 10px;
    }
    
    
    /*---- CATEGORIES AND FILTERS ----*/
     #categories {
       /*--  border-bottom: 1px solid #979797; --*/
        height: 40px;
        
    }
    
    .category {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
        text-transform: uppercase;
        padding: 40px 25px 25px 0px;
        /*-- border-right: 1px solid #E5E5E5; --*/
    }
    
    .category a:hover {
        color: #E82E21;
    }
    
    .category a:active {
        font-weight: 700;
        color:#E82E21;
    }
    
    
    /*---- LISTINGS ----*/
    .container {
        position: absolute;
    }
    
    .content {
        margin-top: 0px;
        position: relative;
    }
    
    .dateAdded {
        float: left;
        width: 15%;
        margin-right: 1%;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 400;
        border-top: 2px solid #000000;
        padding-top: 5px;
    }
    
    .thirdCol {
        position: absolute;
        top: 35px;
        right: 0;
        width: 15%;
        border-top: 2px solid #000000;
    }
    
    .unpaidPosition {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 4px;
    }
    
    .timeSensitive {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: -10px;
    }
    
    .orgName {
        display: inline-block;
        width: 68%;
        border-top: 2px solid #000000;
        font-family: 'Ubuntu', sans-serif;
        font-size: 32px;
        margin-top: 15px;
        margin-right: 1%;
        color: #E82E21;
        font-weight: 400;
    }
    
    .description {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #636362;
        width: 68%;
        float: right;
        margin-right: 16%;
        margin-top: -10px;
        margin-bottom: 0px;
    }
    
    .contactName {
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #636362;
        width: 68%;
        margin-top: -10px;
    }
    
    .url {
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #636362;
        display: inline-block;
        width: 68%;
        margin-left: 16%;
    }
    
    
    /*---------FOR TAGS (LATER)---------*/
    .tag-container {
        margin-top: 20px;
        width: 68%;
        float: right;
    }
    
    .tag-container a {
        color: #636362;
        font-family: 'Ubuntu', sans-serif;
        font-size: 10px;
        font-weight: 400;
        padding: 5px 5px 5px 5px;
        border: 1px solid #636362;
        border-radius: 5px;
        margin-right: 15px;
    }
    
    .tag-container a:hover{
        color: #ffffff;
        background-color: #636362;
    }
    
    